body{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.section{
    width: 650px;
    margin: 0  auto;
    
    
}
#top, #foot{
    width:100%;

}
.parent{
    position: relative;
}
#flash{
    position: relative;
    display: block;
    z-index: 0;
    width: 100%;
}
#logo{
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    z-index: 1;
    width: 100px;
    height: 100px;
}
ul{
    display: table;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(102, 12, 12);
   padding: 0;/* this fixed the overflow problem */

}
ul li {
    display: table-cell;
   
    color: white;
    
}
ul li a {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-size: smaller;
}
ul li a:hover{
    display: block;
    background-image:url("./rings.png");
    background-size: cover;
    text-decoration: none;
    color: white;
}
table{
    table-layout: fixed;
}
.paragraph{
    color: rgb(102, 12, 12);

}
.conti{
    font-size: smaller;
    color:  rgb(102, 12, 12);
}
.parag{
    font-size: smaller;
    color: gray;
}

.img{
    width: 160px;
    height: 140px;
}
.phrase{
    font-size: small;
    text-align: center;
    
}

